@model IEnumerable<Product>

<h1>Shop</h1>
<p>Count: @Model.Count()</p>

@foreach (var product in Model)
{
  <li>Title: @product.Title</li>
  <li>Artist: @product.Artist</li>
  <li>Price: @product.Price</li>

  <br />
}